<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кольянчик</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
    <body>
        <h1>Кальянчик</h1>
        <img style="width: 30%;" th:src="@{/images/mainIcon.png}"/>
        <div>
            <a href="/order">Заказать кальянчик</a>
        </div>
        <form action="/logout" method="POST">
            <button type="submit">Выйти</button>
        </form>
    </body>
</html>