<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в кальянчик</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
    <body>
        <form method="post" th:action="@{/login}">
            <h2>Вход в кальянчик</h2>
            <div class="display-flex">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" placeholder="Логин" required>
            </div>
            <div class="display-flex">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>

        <a th:href="@{/register}" class="display-flex">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
        </a>
    </body>
</html>